<section id="about">
    <div class="about-container">
        <h2 data-aos="fade-up">{{"home.about.title" | translate}}</h2>
        <div class="info-container">
            <figure class="about-img-container" data-aos="zoom-in">
                <img src="assets/about/aboutImage.PNG" alt="Jesus Diaz Photo">
            </figure>
            <div class="text-container" data-aos="fade-left">
                <p class="about-text">{{"home.about.phrase_1" | translate}}
                </p>
                <p class="about-text">
                    {{"home.about.phrase_2" | translate}}
                </p>
                <p class="about-text">
                    {{"home.about.phrase_3" | translate}}
                </p>
                <p class="about-text">
                    {{"home.about.phrase_4" | translate}}
                </p>
            </div>
        </div>

    </div>
</section>