<section id="some-technologies">
    <h2 data-aos="fade-up">{{"home.some_technologies.title" | translate}}</h2>

    <div class="technologies-container" data-aos="fade-up">

        @for (card of cards; let i = $index ; track i ) {
        <!-- there are 9 elements, just on mobile should appear all, on larger devices, only 8 
                (see the only-mobile class in the scss)
            -->
        @if($last){
        <div class="card only-mobile" data-aos="zoom-in" [attr.data-aos-delay]="i * 50">
            <img src={{card.srcImg}} alt="{{card.title + ' image'}}">
        </div>
        }
        @else {
        <div class="card" data-aos="zoom-in" [attr.data-aos-delay]="i * 50">
            <img src={{card.srcImg}} alt="{{card.title + ' image'}}">
        </div>
        }
        }

    </div>
</section>