<section id="work-experience">
    <div class="work-experience-container" data-aos="fade-up">
        <h2 data-aos="fade-up">{{"home.work_experience.title" | translate}}</h2>

        <div class="content" data-aos="fade-up" data-aos-delay="200">
            <p>{{ "home.work_experience.popey_description" | translate }}</p>
            <p>{{ "home.work_experience.erp_project" | translate }}</p>
            <p class="highlight">{{ "home.work_experience.location_status" | translate }}</p>
        </div>
    </div>
</section>